@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

     .nav-button{

        @apply 
        font-barlow-semi-condensed
        text-lg
        bg-neutral-200
        border-b-4
        border-b-transparent
        hover:border-b-neutral-900
        hover:duration-200 
        active:border-sky-500 
        text-neutral-900 
        py-2
        px-6 
        m-4 
        rounded-sm 
        duration-100;

    }


    .label{

        @apply 
        text-sm 
        font-medium 
        py-1 
        px-2 
        uppercase 
        rounded 
        text-neutral-300
        hover:text-neutral-900
        bg-neutral-900 
        w-auto 
        flex 
        justify-center 
        content-center 
        mr-2 
        mt-2
        hover:bg-sky-500
        hover:duration-200
        hover:cursor-pointer

    }

    .article-component{

        @apply 
        w-auto 
        h-auto 
        text-neutral-900;


    }

    .input-black-style{

        @apply
        border-2
        w-64
        h-8
        pl-2
        my-2
        rounded-sm
        border-neutral-500
        bg-neutral-700
        font-medium
        text-sm
        placeholder:text-neutral-500
        

    }

    .button-black{

        @apply
        border-2
        border-sky-500
        font-medium
        h-8
        px-4
        mx-4
        my-2
        rounded-sm
        hover:bg-sky-500
        hover:duration-300

    }


}
