@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

     .nav-button{

        @apply 
        font-barlow-semi-condensed
        text-lg
        bg-neutral-200
        border-b-4
        border-b-transparent
        hover:border-b-neutral-900
        hover:duration-200 
        active:border-sky-500 
        text-neutral-900 
        py-2
        px-6 
        m-4 
        rounded-sm 
        duration-100;

    }


    .label{

        @apply 
        text-sm 
        font-medium 
        py-1 
        px-2 
        uppercase 
        rounded 
        text-neutral-300
        hover:text-neutral-900
        bg-neutral-900 
        w-auto 
        flex 
        justify-center 
        content-center 
        mr-2 
        mt-2
        hover:bg-sky-500
        hover:duration-200
        hover:cursor-pointer

    }

    .article-component{

        @apply 
        text-neutral-900 border-2
        border-neutral-300 
        w-auto 
        h-auto 
        my-4 
        mx-4 
        py-4 
        px-4
        rounded-lg
        hover:text-neutral-900
        hover:border-sky-600
        hover:duration-500;


    }


}
